preprocessed_logs/
logs/
review_data.zip
dokumentation_things/~$Roadmap Bachelor thesis.pptx
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.csv
venv/
.venv/
.ipynb_checkpoints
saved_weights.pt
dokumentation_things/archive/saved_weights.pt
dokumentation_things/ucc_tutorial/lightning_logs
stats.prof
.vscode
dataset.pkl