preprocessed_logs/
logs/
datasets/
no_matches/
venv/
.venv/
dokumentation_things/~$Roadmap Bachelor thesis.pptx
dokumentation_things/archive/saved_weights.pt
dokumentation_things/ucc_tutorial/lightning_logs
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.csv
.ipynb_checkpoints
saved_weights.pt
review_data.zip
stats.prof
.vscode
